{% extends 'front/base.html.twig' %}

{% block body %}

    <h1 class="my-5">
        {% if category is defined %}
            {{ 'pages.game.list_by.title'|trans({'%by_something%': category.name }) }}
        {% else %}
            {{ 'pages.game.list_by.title'|trans({'%by_something%':  country.nationality}) }} <img alt="{{ country.name }}" src="{{ country.urlFlag }}">
        {% endif %}
    </h1>

    <div class="row">
        {% for game in games %}
            {% include 'front/partial/_game_card.html.twig' with
                {
                    'game': game,
                }
            %}
        {% endfor %}
    </div>

{% endblock %}

{% block title %}
    {% if category is defined %}
        {{ 'pages.game.list_by.title'|trans({'%by_something%': category.name }) }}
    {% else %}
        {{ 'pages.game.list_by.title'|trans({'%by_something%':  country.nationality}) }}
    {% endif %}
{% endblock %}

