{% extends 'front/base.html.twig' %}

{% block title %}
    Acheter : {{ game.name }}
{% endblock %}

{% block body %}

    <div class="mt-5">
        <div class="container-top row">
            <div class="col-7 p-0 h-100">
                <div class="container-image-game-show">
                    <img src="{{ game.thumbnailCover }}">
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-4 my-auto">
                <div class="h-100">
                    <h1 class="text-center mb-4">{{ game.name }}</h1>
                    {% if game.countries|length > 0 %}
                        <div class="align-items-center">
                            <p>Disponible en :</p>
                            <div class="d-flex flex-wrap">
                                {% for country in game.countries %}
                                    <a href="{{ path('app_game_available_by_language', {'slug': country.slug}) }}">
                                        <img src="{{ country.urlFlag }}"
                                             alt="{{ country.name }}"
                                             title="{{ country.nationality }}"
                                             {% if not loop.last %}class="me-1"{% endif %}
                                        >
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <p class="my-4 fs-2 text-center">{{ game.price }}€</p>
                    <div class="w-100 mt-4">
                        <button class="button-fire fs-3" data-buy-game="{{ game.id }}">
                            Acheter
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <p>Date de publication : {{ game.publishedAt|date('d/m/Y') }}</p>
            <div>
                <p>{{ 'pages.game.show.categories'|trans }}</p>
                <ul class="list-unstyled">
                    {% for category in game.categories %}
                        <li>
                            <a class="main-link" href="{{ path('app_game_redirect', {'slug': category.slug}) }}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h2>A propos du jeu</h2>
                <p>{{ game.description|raw }}</p>
            </div>
        </div>

        <div class="mt-5">
            <h2>Les commentaires</h2>
            <div class="row">
                {% for review in reviews %}
                    {% include 'front/partial/_review_card.html.twig' with
                        {
                            'fromGameShow': true
                        }
                    %}
                {% endfor %}
                <div class="navigation d-flex justify-content-center mt-4">
                    {{ knp_pagination_render(reviews) }}
                </div>
            </div>
            {% if app.user %}
                <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                    {{ form_start(formReview) }}
                        <div class="mt-4">
                            {{ form_row(formReview.rating) }}
                        </div>
                        <div class="my-4">
                            {{ form_row(formReview.content) }}
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-check"></i>
                                {{ 'common.button.confirm'|trans }}
                            </button>
                        </div>
                    {{ form_end(formReview) }}
                </div>
            {% else %}
                <a href="{{ path('app_login') }}" class="main-link">
                    Connectez-vous
                </a>, pour laisser un commentaire !
            {% endif %}
        </div>

        <div class="mt-5">
            <h2>Les jeux similaires</h2>
            <div class="row">
                {% for game in relatedGames %}
                    {% include 'front/partial/_game_card.html.twig' with
                        {
                            'game': game,
                        }
                    %}
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
