{% extends 'back/base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <div>
        <a class="main-link float-start" href="{{ path('app_admin_country_index') }}">
            <i class="fa fa-arrow-left fa-2x"></i>
        </a>
        <h1 class="my-4 text-center">{{ title }}</h1>
    </div>

    <div class="col-lg-6 col-sm-12 mx-auto">
        {{ form_start(form) }}
        <div class="my-3">
            {{ form_row(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div>
            {{ form_row(form.nationality) }}
            {{ form_errors(form.nationality) }}
        </div>
        <div class="my-3">
            {{ form_row(form.code) }}
            {{ form_errors(form.code) }}
        </div>
        <button class="btn btn-primary mb-3" type="submit">
            Valider
        </button>
        {{ form_end(form) }}
    </div>

{% endblock %}
