
{% if containerClass is not defined %}
    {% set containerClass = 'col-lg-4 col-md-6 col-sm-12' %}
{% endif %}

<div class="{{ containerClass }}">
    <div class="card-game-container">
        <a href="{{ path('app_game_redirect', { 'slug': game.slug }) }}">
            <img src="{{ game.thumbnailCover }}">
        </a>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <p class="card-game-name">{{ game.name }}</p>
        </div>
        <div>
            {{ game.price }}€
        </div>
    </div>
</div>
