
<div class="col-3 mt-4">
    {% if fromGameShow is not defined %}
        <a class="main-link game-title" href="{{ path('app_game_redirect', {'slug': review.game.slug}) }}">
            {{ review.game.name }}
        </a>
    {% endif %}
    <div>
        {% set nbEmptyStar = 5 - review.rating %}
        {% if review.rating > 0 %}
            {% for i in 1..review.rating %}
                <i class="fas fa-star icon-yellow"></i>
            {% endfor %}
        {% endif %}
        {% if nbEmptyStar > 0 %}
            {% for i in 1..nbEmptyStar %}
                <i class="fas fa-star"></i>
            {% endfor %}
        {% endif %}
    </div>
    <p data-hidden="review[content]-{{ review.id }}">{{ review.content|excerpt }}</p>
    <p data-hidden="review[content]-{{ review.id }}" class="d-none">{{ review.content }}</p>
    {% if fromUserShow is not defined %}
    Par <a class="main-link" href="{{ path('app_profile_show', {'name': review.user.name}) }}">
        {{ review.user.name }}
    </a>,{% endif %} le {{ review.createdAt|date('d/m/Y') }}
    <div>
        <span class="feedback-green">
            <i class="fa fa-thumbs-up"></i> {{ review.upVote }}
        </span>
            <span class="feedback-red">
            <i class="fa fa-thumbs-down"></i> {{ review.downVote }}
        </span>
    </div>
</div>
