{% extends 'front/base.html.twig' %}

{% block title %}
   Instant-Faking
{% endblock %}

{% block leogout_seo %}
    <meta name="description"
          content="instant-faking.com : Achat en ligne de jeux vidéos dématérialisés">
{% endblock %}

{% block body %}

    <h1 class="text-center">Instant-Faking</h1>

    <h2 class="mt-5 mb-4">{{ 'pages.home.title.trends'|trans }}</h2>

    <div class="row">
        {% for trendGame in tendances %}
            {% include 'front/partial/_game_card.html.twig' with
                {
                    'game': trendGame,
                }
            %}
        {% endfor %}
    </div>

    <h2 class="mt-5 mb-4">{{ 'pages.home.title.last_published_at'|trans }}</h2>

    <div class="row">
        {% for game in lastGames %}
            {% include 'front/partial/_game_card.html.twig' with
                {
                    'game': game,
                }
            %}
        {% endfor %}
    </div>

    <div class="row">
        {% for review in lastReviews %}
            <div class="col-3">
                <p>{{ review.game.name }}</p>
                <p>{{ review.content }}</p>
                <p>{{ review.user.name }}</p>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-5 mb-4">{{ 'pages.home.title.bestsellers'|trans }}</h2>

    <div class="row">
        {% for game in bestSellers %}
            {% include 'front/partial/_game_card.html.twig' with
                {
                    'game': game,
                }
            %}
        {% endfor %}
    </div>

{% endblock %}
