{% extends 'front/base.html.twig' %}

{% block title %}
    Onglet nav
{% endblock %}

{% block leogout_seo %}
    <meta name="description"
          content="instant-faking.com : Achat en ligne de jeux vidéos dématérialisés">
{% endblock %}

{% block body %}

    <h1 class="text-center">Instant-Faking</h1>

    <h2 class="mt-5 mb-4">Les tendances</h2>

    <div class="row">
        {% for game in tendances %}
            <div class="col-4">
                <div class="card-game-container">
                    <img src="{{ game.thumbnailCover }}">
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="card-game-name">{{ game.name }}</p>
                    </div>
                    <div>
                        {{ game.price }}€
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-5 mb-4">Les dernières sorties</h2>

    <div class="row">
        {% for game in lastGames %}
            <div class="col-4">
                <div class="card-game-container">
                    <img src="{{ game.thumbnailCover }}">
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="card-game-name">{{ game.name }}</p>
                    </div>
                    <div>
                        {{ game.price }}€
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        {% for review in lastReviews %}
            <div class="col-3">
                <p>{{ review.game.name }}</p>
                <p>{{ review.content }}</p>
                <p>{{ review.user.name }}</p>
            </div>
        {% endfor %}
    </div>

    <h2 class="mt-5 mb-4">Les meilleures ventes</h2>

    <div class="row">
        {% for game in bestSellers %}
            <div class="col-4">
                <div class="card-game-container">
                    <img src="{{ game.thumbnailCover }}">
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="card-game-name">{{ game.name }}</p>
                    </div>
                    <div>
                        {{ game.price }}€
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
