<header>

    <div class="h-100">
        <div class="row h-100">
            <div class="col-2 my-auto">
                <a class="main-link" href="{{ path('app_home') }}">
                    <i class="fa-brands fa-steam fa-7x"></i>
                </a>
            </div>

            <div class="col-lg-2 col-auto  my-auto">
            </div>

            <div class="col-lg-4 col-md-8 col-sm-8 my-auto">
                <div class="main-container p-3">
                    <input type="text"
                           class="form-control"
                           placeholder="Starcraft, FPS, ..."
                           data-search-bar
                    >
                    <div class="search-response-container">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-2 my-auto d-flex justify-content-end">
                <div class="cart-container">
                    <div class="cart-elements">
                        0
                    </div>
                    <a class="main-link me-2"
                       href="{{ path('app_cart_index') }}"
                       title="Voir mon panier"
                    >
                        <i class="fa fa-cart-shopping fa-2x"></i>
                    </a>
                </div>
                {% if app.user %}
                    <a class="main-link me-2"
                       href="{{ path('app_profile_show', {'name': app.user.name}) }}"
                       title="Mon profil"
                    >
                        <i class="fa fa-user-check fa-2x"></i>
                    </a>
                    {% if app.user.admin %}
                        <a class="main-link me-2"
                           href="{{ path('app_admin_index') }}"
                           title="Mode admin">
                            <i class="fa fa-user-secret fa-2x"></i>
                        </a>
                    {% endif %}
                    <a class="main-link me-2"
                       href="{{ path('app_logout') }}"
                       title="Se déconnecter">
                        <i class="fa fa-sign-out fa-2x"></i>
                    </a>
                {% else %}
                    <a class="main-link me-2"
                       href="{{ path('app_login') }}"
                       title="Se connecter"
                    >
                        <i class="fa fa-user fa-2x"></i>
                    </a>
                    <a class="main-link me-2"
                       href="{{ path('app_profile_register') }}"
                       title="S'inscrire"
                    >
                        <i class="fa fa-sign-in fa-2x"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

</header>
